@model List<Project5Day.WebUI.Dtos.MatchDtos.ResultMatchDto>

<div class="sec-ttl mcw-section" data-s="finished" style="margin-top:22px">✅ &nbsp;Tamamlanan Maçlar</div>

@foreach (var item in Model)
{
    // Skor "2-2" formatındaysa parçalara ayırıyoruz
    var scoreParts = !string.IsNullOrEmpty(item.FinalScore) ? item.FinalScore.Split('-') : new string[] { "0", "0" };
    var hScore = scoreParts[0];
    var aScore = scoreParts.Length > 1 ? scoreParts[1] : "0";

    <div class="mc-wrap mcw" data-s="finished">
        <div class="mc">
            <div class="mc-time">
                <div class="mc-min">@item.MatchTime</div>
                <div class="sbadge sb-fin">MS</div>
            </div>
            <div class="dvv"></div>
            <div class="mc-teams">
                <div class="mc-tr">
                    <div class="tl-sm">
                        <img src="@item.HomeTeamLogo" alt="@item.HomeTeamName" onerror="this.parentNode.textContent='@item.HomeTeamName.Substring(0, 3).ToUpper()'" />
                    </div>
                    <span class="tn">@item.HomeTeamName</span>
                    <span class="ts">@hScore</span>
                </div>
                <div class="mc-tr">
                    <div class="tl-sm">
                        <img src="@item.AwayTeamLogo" alt="@item.AwayTeamName" onerror="this.parentNode.textContent='@item.AwayTeamName.Substring(0, 3).ToUpper()'" />
                    </div>
                    <span class="tn">@item.AwayTeamName</span>
                    <span class="ts">@aScore</span>
                </div>
            </div>
            <a href="/Match/Detail/@item.MatchId" class="det-btn"><i class="bi bi-chevron-right"></i> <span>Detay</span></a>
        </div>
    </div>
}